/* Reset */ 
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
/* Debug  */
/* - Header - */
.debug header{
    background-color: #00008B;
    border-bottom: solid 4px #ADD8E6;
}
.debug nav{
    background-color: #ADD8E6;
}
.debug header .container{
    height: 50px;
    background-color: #DAA520;
}
.debug nav .container div{
    border: dashed 2px black;
}
.debug .link{
    width: 750px;
}
.debug .box{
    height: 415px;
    background-color: #EE82EE;
    border: dashed 2px black;
}
/* - Main - */
.debug section .container{
    height: 520px;
}
.debug .primo{
    background-color: #1E90FF;
}
.debug .secondo{
    background-color: #FFC0CB;
}
.debug .primo, .debug .secondo{
    border: dashed 2px black;
}
.debug .container2{
    background-color: #228B22;
    border: dashed 2px black;
    height: 935px;
}
/* - Footer - */
.debug footer{
    background-color: #23272A;
}
.debug footer .container{
    height: 600px;
}
.debug .footerBottom{
    border-color: #D7D7D8;
    height: 115px;
}
.debug .primaColonna{
    background-color: #F08080;
    border: dashed 2px black;
}
.debug .secondaColonna{
    background-color: #20B2AA;
    border: dashed 2px black;
}
.debug .secondaColonna div{
    border: dashed 2px white;
    flex-grow: 1;
}
.debug .footerBottom .container{
    height: 85px;
    background-color: #7FFFD4;
}
.debug .footerBottom .container div{
    height: 40px;
    background-color: #FFB6C1;
    border: dashed 2px black;
    text-align: center;
}
.debug .logoFooter{
    width: 70px;
}
.debug .bottoneFooter{
    width: 100px;
}
/* Common */
.container, .container2{
    width: 1250px;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: space-between;
}
/* Header */
nav{
    padding: 17px;
}
.debug nav .container div{
    font-size: 20px;
    line-height: 20px;
    padding: 15px 10px;
}
.logo, .login{
    flex-grow: 1;
}
.login{
    text-align: right;
}
.link{
    text-align: center;
}
.box{
    width: 950px;
    margin: 50px auto;
}
/* Main */
section:nth-child(even){
    background-color: #D3D3D3;
}
section{
    padding: 52px 0;
}
.secondo{
    width: 500px;
}
.primo{
    flex-grow: 1;
}
/* Footer */
footer{
    padding-top: 10px;
}
footer .container{
    margin-bottom: 45px;
}
.footerBottom{
    border-top: 2px solid;
    height: 115px;
    padding-top: 28px;
}
.primaColonna{
    flex-grow: 1;
}
.secondaColonna{
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
}
.footerBottom .container div{
    padding: 10px;
    align-self: center;
}